[submodule "nvim/.local/share/nvim/site/pack/git-plugins/start/gruvbox-material.vim"]
	path = nvim/.local/share/nvim/site/pack/git-plugins/start/gruvbox-material.vim
	url = https://github.com/sainnhe/gruvbox-material.git

[submodule "nvim/.local/share/nvim/site/pack/git-plugins/start/lightline.vim"]
	path = nvim/.local/share/nvim/site/pack/git-plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "nvim/.local/share/nvim/site/pack/git-plugins/start/vista.vim"]
	path = nvim/.local/share/nvim/site/pack/git-plugins/start/vista.vim
	url = https://github.com/liuchengxu/vista.vim.git
