nvim/.config/nvim/spell/
nvim/.local/share/nvim/shada/*
nvim/.local/share/nvim/swap
nvim/.local/share/nvim/vim-lsp.log
nvim/.local/share/nvim/session/*
nvim/.local/share/nvim/log
nvim/.local/share/nvim/backup
nvim/.local/share/nvim/session
nvim/.local/share/nvim/view
